@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  max-width: 100%; }

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  position: relative;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 19px; }
  @media screen and (max-width: 1023.33px) {
    .container {
      max-width: 820px;
      padding: 0 25px; } }
  @media screen and (max-width: 767.66px) {
    .container {
      min-width: 320px;
      padding: 0 16px 0 14px; } }
  .container--about {
    padding-right: 120px; }
    @media screen and (max-width: 1023.33px) {
      .container--about {
        padding-right: 20px; } }
    @media screen and (max-width: 767.66px) {
      .container--about {
        padding-right: 15px; } }
  @media screen and (max-width: 1023.33px) {
    .container--footer {
      max-width: 100%;
      padding: 0; } }

html {
  overflow-y: scroll; }

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0; } }

.page,
.page__body {
  font-family: "ptmono-regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  min-height: 100vh;
  margin: 0;
  padding: 0; }

.page__body {
  height: 100vh;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; }

.overflow {
  overflow: hidden; }

@media screen and (max-width: 767.66px) {
  .mobile-hidden {
    display: none; } }

.mobile-visible {
  display: none; }
  @media screen and (max-width: 767.66px) {
    .mobile-visible {
      display: inline; } }

@font-face {
  font-family: "ptmono-regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptmono-regular.woff2") format("woff2"), url("../fonts/ptmono-regular.woff") format("woff"); }

@font-face {
  font-family: "robotocondensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/robotocondensed-bold.woff2") format("woff2"), url("../fonts/robotocondensed-bold.woff") format("woff"); }

@font-face {
  font-family: "robotocondensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/robotocondensed-regular.woff2") format("woff2"), url("../fonts/robotocondensed-regular.woff") format("woff"); }

.header {
  position: relative;
  min-height: 878px;
  background-color: #1b2d37;
  background-image: url("../img/background/header.png"), url("../img/background/sheme.webp"), url("../img/background/triangle.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, auto, auto;
  background-position-x: center, 1030px, 82%;
  background-position-y: center, 260px, 50%; }
  @media screen and (max-width: 1440px) {
    .header {
      background-position-x: center, 140%, 82%; } }
  @media screen and (max-width: 1200px) {
    .header {
      background-position-x: center, 750px, 82%; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .header {
      background-image: url("../img/background/header@2x.png"), url("../img/background/sheme@2x.webp"), url("../img/background/triangle.svg");
      background-size: cover, 36.8%, auto; } }
  @media screen and (max-width: 1023.33px) {
    .header {
      min-height: 0;
      padding-bottom: 160px;
      background-image: url("../img/background/header.png"), url("../img/background/sheme.webp"), url("../img/background/triangle-tablet.svg");
      background-size: cover, 465px 340px, 330px 466px;
      background-position-x: center, 510px, right;
      background-position-y: center, 105px, 0; } }
  @media screen and (max-width: 1023.33px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1023.33px) and (min-resolution: 2dppx) {
    .header {
      background-image: url("../img/background/header@2x.png"), url("../img/background/sheme@2x.webp"), url("../img/background/triangle-tablet.svg"); } }
  @media screen and (max-width: 767.66px) {
    .header {
      padding-bottom: 73px;
      background-image: url("../img/background/header.png"), url("../img/background/sheme.webp"), url("../img/background/triangle-mobile.svg");
      background-size: cover, 301px 220px, auto;
      background-position-x: center, 130%, right;
      background-position-y: center, 90px, 0; } }
  @media screen and (max-width: 767.66px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.66px) and (min-resolution: 2dppx) {
    .header {
      background-image: url("../img/background/header@2x.png"), url("../img/background/sheme@2x.webp"), url("../img/background/triangle-mobile.svg"); } }

.header__grid {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  height: 100%; }

.header__top {
  margin-top: 33px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1023.33px) {
    .header__top {
      margin-top: 19px; } }
  @media screen and (max-width: 767.66px) {
    .header__top {
      margin-top: 17px; } }

.header__main {
  position: relative;
  margin-top: 225px;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 564px; }
  @media screen and (max-width: 1023.33px) {
    .header__main {
      height: auto;
      margin-top: 114px;
      padding-left: 66px; } }
  @media screen and (max-width: 767.66px) {
    .header__main {
      margin-top: 225px;
      padding-left: 0; } }

.header__main h1 {
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff; }
  @media screen and (max-width: 1023.33px) {
    .header__main h1 {
      font-size: 60px;
      line-height: 70px;
      width: 430px; } }
  @media screen and (max-width: 767.66px) {
    .header__main h1 {
      width: 100%;
      font-size: 40px;
      line-height: 47px; } }

.header__main p {
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
  position: relative;
  padding: 0;
  padding-left: 95px;
  margin: 0;
  margin-top: 30px;
  max-width: 750px; }
  .header__main p::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background-color: #ffffff;
    top: 15px;
    left: 0; }
  @media screen and (max-width: 1023.33px) {
    .header__main p {
      width: 520px;
      font-size: 18px;
      padding-left: 50px;
      margin-top: 30px;
      line-height: 156.8%; }
      .header__main p::before {
        width: 33px;
        top: 20px; } }
  @media screen and (max-width: 767.66px) {
    .header__main p {
      width: 100%;
      font-size: 16px;
      margin-top: 25px; } }

.logo {
  display: flex;
  flex-wrap: wrap; }

@media screen and (max-width: 767.66px) {
  .logo--header img {
    width: 38px;
    height: 38px; } }

.logo__name-company {
  width: 160px;
  margin-left: 16px; }
  @media screen and (max-width: 767.66px) {
    .logo__name-company {
      display: none; } }

.logo__name-company .logo__name {
  display: block;
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 29px;
  padding-top: 5px; }

.logo__name-company .logo__slogan {
  color: #788891;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px; }

.logo__name-company--white .logo__name {
  color: #ffffff; }

.logo__name-company--grey .logo__name {
  color: #203c42; }

.button {
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 14px 26px;
  cursor: pointer; }

.button--contact {
  font-size: 14px;
  line-height: 16px;
  margin-left: 52px; }
  @media screen and (max-width: 1023.33px) {
    .button--contact {
      display: none; } }
  .button--contact:hover {
    border-color: #00b2ff;
    color: #00b2ff; }
  .button--contact:active {
    opacity: 0.6; }

.button--consultation {
  font-size: 16px;
  line-height: 19px;
  background-color: #00b2ff;
  border: none;
  padding: 18px 45px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 42px;
  margin-left: 92px; }
  @media screen and (max-width: 1023.33px) {
    .button--consultation {
      padding: 18px 32px;
      margin-top: 57px;
      margin-left: 48px; } }
  @media screen and (max-width: 767.66px) {
    .button--consultation {
      display: block;
      margin-left: 0;
      margin-top: 40px; } }
  .button--consultation:hover {
    background-color: #ffffff;
    color: #00b2ff; }
  .button--consultation:active {
    opacity: 0.6; }

.button--scroll {
  font-family: "ptmono-regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  text-transform: none;
  transform: rotate(-90deg);
  transform-origin: left;
  padding: 0;
  position: absolute;
  left: 8px;
  bottom: 90px; }
  @media screen and (max-width: 1023.33px) {
    .button--scroll {
      display: none; } }
  .button--scroll:hover {
    opacity: 1; }
  .button--scroll:active {
    color: #00b2ff; }

.button--about {
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
  color: #00b2ff;
  border-color: #00b2ff;
  font-size: 14px;
  line-height: 16px;
  padding-left: 50px;
  padding-right: 50px; }
  @media screen and (max-width: 1023.33px) {
    .button--about {
      margin-top: 23px;
      margin-left: 3px; } }
  @media screen and (max-width: 767.66px) {
    .button--about {
      margin-top: 13px; } }
  .button--about:hover {
    background-color: #00b2ff;
    color: #ffffff; }
  .button--about:active {
    opacity: 0.6; }

.button--close {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none; }
  .button--close::before, .button--close::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 16px;
    width: 1px;
    background-color: #ffffff; }
  .button--close::before {
    transform: translate(-50%, -50%) rotate(45deg); }
  .button--close::after {
    transform: translate(-50%, -50%) rotate(-45deg); }

.button--submit {
  width: 100%;
  background-color: transparent;
  margin-top: 4px; }
  @media screen and (max-width: 1023.33px) {
    .button--submit {
      margin-top: 8px; } }
  @media screen and (max-width: 767.66px) {
    .button--submit {
      font-size: 14px;
      line-height: 16px;
      min-height: 47px;
      margin-top: 3px; } }
  .button--submit:hover {
    background-color: #ffffff;
    color: #00b2ff; }
  .button--submit:active {
    opacity: 0.6; }

.navigation {
  max-width: 657px;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 70px;
       column-gap: 70px; }
  @media screen and (max-width: 1023.33px) {
    .navigation {
      display: block;
      max-width: 100%;
      padding-left: 25px; } }
  @media screen and (max-width: 767.66px) {
    .navigation {
      padding: 0 15px; } }

.navigation h3 {
  grid-column: 1/3;
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
  margin-bottom: 26px; }
  @media screen and (max-width: 1023.33px) {
    .navigation h3 {
      padding-top: 38px; } }
  @media screen and (max-width: 767.66px) {
    .navigation h3 {
      position: relative;
      display: block;
      padding: 28px 0;
      cursor: pointer;
      margin-bottom: 0; }
      .navigation h3::before, .navigation h3::after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        height: 16px;
        width: 1px;
        background-color: #c4c4c4; }
      .navigation h3::after {
        transform: translateY(-50%) rotate(90deg); } }

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 1023.33px) {
    .navigation__list {
      display: block; } }

@media screen and (max-width: 1023.33px) {
  .navigation__item {
    width: 100%; } }

.navigation__link {
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  text-decoration: none;
  opacity: 0.5; }
  .navigation__link:hover {
    opacity: 1; }
  .navigation__link:active {
    opacity: 0.7; }

.contact-footer {
  max-width: 333px; }
  @media screen and (max-width: 1023.33px) {
    .contact-footer {
      padding-right: 25px;
      min-width: 370px; } }
  @media screen and (max-width: 767.66px) {
    .contact-footer {
      margin-right: 0;
      padding: 0 15px;
      max-width: 100%;
      min-width: 270px;
      border-top: 1px solid rgba(98, 105, 98, 0.2); } }

.contact-footer__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media screen and (max-width: 767.66px) {
    .contact-footer__list {
      padding-right: 10px; } }

.contact-footer__link {
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  text-decoration: none;
  opacity: 0.5; }
  .contact-footer__link:hover {
    opacity: 1; }
  .contact-footer__link:active {
    opacity: 0.7; }

.contact-footer h3 {
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
  margin-bottom: 26px; }
  @media screen and (max-width: 1023.33px) {
    .contact-footer h3 {
      padding-top: 38px; } }
  @media screen and (max-width: 767.66px) {
    .contact-footer h3 {
      position: relative;
      display: block;
      padding: 28px 0;
      padding-bottom: 0;
      cursor: pointer; }
      .contact-footer h3::before, .contact-footer h3::after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(50%);
        right: 8px;
        height: 16px;
        width: 1px;
        background-color: #c4c4c4; }
      .contact-footer h3::after {
        transform: translateY(50%) rotate(90deg); } }

.advantages {
  padding-top: 110px; }
  @media screen and (max-width: 1023.33px) {
    .advantages {
      padding-top: 55px; } }
  @media screen and (max-width: 767.66px) {
    .advantages {
      padding-top: 37px; } }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: minmax(345px, 570px) minmax(345px, 570px);
  justify-content: center;
  grid-auto-rows: 1fr;
  gap: 30px; }
  @media screen and (max-width: 1023.33px) {
    .advantages__list {
      grid-auto-rows: -webkit-min-content;
      grid-auto-rows: min-content; } }
  @media screen and (max-width: 767.66px) {
    .advantages__list {
      gap: 20px;
      grid-template-columns: 1fr; } }

.advantages__item {
  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  padding: 40px 40px 50px 42px; }
  @media screen and (max-width: 1023.33px) {
    .advantages__item {
      padding: 24px 20px 5px 25px;
      min-height: 232px; } }
  @media screen and (max-width: 767.66px) {
    .advantages__item {
      padding: 24px 11px 13px 25px;
      min-height: 232px; }
      .advantages__item .mobile-visible {
        display: block; } }
  @media screen and (max-width: 767.66px) {
    .advantages__item--special-padding {
      padding-right: 20px; } }

.advantages__item .mobile-visible {
  display: none; }

.advantages__item svg {
  color: #00b2ff; }

.advantages__item h3 {
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: #00b2ff;
  margin-top: 15px; }
  @media screen and (max-width: 1023.33px) {
    .advantages__item h3 {
      margin-top: 2px; } }
  @media screen and (max-width: 767.66px) {
    .advantages__item h3 {
      margin-top: 5px;
      font-size: 20px;
      line-height: 140.62%; } }

.advantages__item p {
  font-size: 16px;
  line-height: 22px;
  color: #666666; }
  @media screen and (max-width: 1023.33px) {
    .advantages__item p {
      margin-top: 8px; } }
  @media screen and (max-width: 767.66px) {
    .advantages__item p {
      margin-top: 8px; } }

.advantages__item:hover {
  background-color: #00b2ff; }

.advantages__item:hover svg {
  color: #ffffff; }

.advantages__item:hover h3 {
  color: #ffffff; }

.advantages__item:hover p {
  color: #ffffff; }

@media screen and (max-width: 767.66px) {
  .advantages__item--margin {
    margin-top: 5px; } }

@media screen and (max-width: 767.66px) {
  .advantages__item--margin p {
    margin-top: 15px; } }

@media screen and (max-width: 767.66px) {
  .advantages__item--margin-2 p {
    margin-top: 15px;
    padding-bottom: 0; } }

.products {
  padding-top: 88px;
  padding-bottom: 128px;
  background-color: #1b2d37; }
  @media screen and (max-width: 1023.33px) {
    .products {
      padding-top: 52px;
      padding-bottom: 78px; } }
  @media screen and (max-width: 767.66px) {
    .products {
      padding-top: 48px;
      padding-bottom: 64px; } }

.products__grid {
  display: grid;
  justify-content: center; }

.products h2 {
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  letter-spacing: 0.2px; }
  @media screen and (max-width: 1023.33px) {
    .products h2 {
      font-size: 32px; } }
  @media screen and (max-width: 767.66px) {
    .products h2 {
      font-size: 28px; } }
  @media screen and (max-width: 1023.33px) {
    .products h2 {
      line-height: 140.62%;
      letter-spacing: 0.32px; } }
  @media screen and (max-width: 767.66px) {
    .products h2 {
      font-size: 28px;
      padding-left: 10px;
      padding-top: 5px; } }

.products__list {
  padding: 0;
  margin: 0;
  margin-top: 52px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 370px));
  gap: 30px;
  justify-content: center; }
  @media screen and (max-width: 1023.33px) {
    .products__list {
      margin-top: 50px;
      grid-template-columns: 1fr;
      row-gap: 46px; } }
  @media screen and (max-width: 767.66px) {
    .products__list {
      margin-top: 40px;
      row-gap: 30px; } }

.products__link {
  position: relative;
  display: block;
  height: 620px;
  color: #ffffff;
  text-decoration: none;
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  background-repeat: no-repeat;
  background-size: cover; }
  .products__link::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 63px;
    height: 63px;
    background-color: #00b2ff;
    background-image: url("../img/icon/arrow.svg");
    background-repeat: no-repeat;
    background-position: center; }
  @media screen and (max-width: 1023.33px) {
    .products__link {
      height: 256px; } }
  .products__link--manufacture {
    background-image: url("../img/content/manufacture.png"); }
  .products__link--set {
    background-image: url("../img/content/set.png"); }
  .products__link--components {
    background-image: url("../img/content/components.png"); }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .products__link--manufacture {
      background-image: url("../img/content/manufacture@2x.png"); }
    .products__link--set {
      background-image: url("../img/content/set@2x.png"); }
    .products__link--components {
      background-image: url("../img/content/components@2x.png"); } }
  @media screen and (max-width: 1023.33px) {
    .products__link--manufacture {
      background-image: url("../img/content/manufacture-tablet.png"); }
    .products__link--set {
      background-image: url("../img/content/set-tablet.png"); }
    .products__link--components {
      background-image: url("../img/content/components-tablet.png"); } }

@media screen and (max-width: 1023.33px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1023.33px) and (min-resolution: 2dppx) {
  .products__link--manufacture {
    background-image: url("../img/content/manufacture-tablet@2x.png"); }
  .products__link--set {
    background-image: url("../img/content/set-tablet@2x.png"); }
  .products__link--components {
    background-image: url("../img/content/components-tablet@2x.png"); } }
  @media screen and (max-width: 767.66px) {
    .products__link--manufacture {
      background-image: url("../img/content/manufacture-mobile.png"); }
    .products__link--set {
      background-image: url("../img/content/set-mobile.png"); }
    .products__link--components {
      background-image: url("../img/content/components-mobile.png"); } }

@media screen and (max-width: 767.66px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.66px) and (min-resolution: 2dppx) {
  .products__link--manufacture {
    background-image: url("../img/content/manufacture-mobile@2x.png"); }
  .products__link--set {
    background-image: url("../img/content/set-mobile@2x.png"); }
  .products__link--components {
    background-image: url("../img/content/components-mobile@2x.png"); } }
  .products__link:hover {
    opacity: 0.7; }
  .products__link:active {
    opacity: 1; }
    .products__link:active::before {
      background-color: #0ad9c6; }

.products__link p {
  margin: 0;
  padding: 53px 0 0 43px;
  max-width: 200px; }
  @media screen and (max-width: 1023.33px) {
    .products__link p {
      padding: 40px 0 0 43px; } }
  @media screen and (max-width: 767.66px) {
    .products__link p {
      padding: 20px 0 0 37px; } }

.products__link:active p {
  color: #00b2ff; }

.footer {
  position: relative;
  padding-top: 64px; }
  @media screen and (max-width: 1023.33px) {
    .footer {
      padding-top: 20px; } }
  @media screen and (max-width: 767.66px) {
    .footer {
      padding-top: 46px; } }

.footer__main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 58px; }
  @media screen and (max-width: 1023.33px) {
    .footer__main {
      display: block;
      padding-bottom: 35px; } }
  @media screen and (max-width: 767.66px) {
    .footer__main {
      padding-bottom: 0; } }

.footer__wrap {
  max-width: 422px; }
  @media screen and (max-width: 1023.33px) {
    .footer__wrap {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 21px;
      padding-left: 25px;
      padding-right: 25px; } }
  @media screen and (max-width: 767.66px) {
    .footer__wrap {
      flex-direction: column;
      padding-bottom: 54px;
      padding-left: 30px; } }

.footer__wrap .company {
  display: none;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
  text-decoration: none; }
  @media screen and (max-width: 1023.33px) {
    .footer__wrap .company {
      display: block; } }
  @media screen and (max-width: 767.66px) {
    .footer__wrap .company {
      margin-top: 22px; } }

.footer__navigation {
  display: flex;
  justify-content: space-between;
  width: 70%; }
  @media screen and (max-width: 1023.33px) {
    .footer__navigation {
      width: 100%;
      border-top: 1px solid rgba(98, 105, 98, 0.2); } }
  @media screen and (max-width: 767.66px) {
    .footer__navigation {
      display: block; } }

.footer__bottom {
  padding: 14px 0;
  border-top: 1px solid rgba(98, 105, 98, 0.2); }
  @media screen and (max-width: 767.66px) {
    .footer__bottom {
      padding-top: 20px; } }

.footer__bottom .company,
.footer__bottom .copyright,
.footer__bottom .privacy,
.footer__bottom .developed {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
  text-decoration: none; }
  .footer__bottom .company:hover,
  .footer__bottom .copyright:hover,
  .footer__bottom .privacy:hover,
  .footer__bottom .developed:hover {
    opacity: 1; }
  .footer__bottom .company:active,
  .footer__bottom .copyright:active,
  .footer__bottom .privacy:active,
  .footer__bottom .developed:active {
    color: #00b2ff; }

.footer__bottom .company {
  margin-left: 5%; }
  @media screen and (max-width: 1023.33px) {
    .footer__bottom .company {
      display: none; } }

@media screen and (max-width: 1023.33px) {
  .footer__bottom .copyright {
    display: none; } }

.footer__bottom .privacy {
  margin-left: 10.2%; }
  @media screen and (max-width: 1023.33px) {
    .footer__bottom .privacy {
      margin-top: 5px;
      margin-left: 0;
      text-align: center; } }
  @media screen and (max-width: 767.66px) {
    .footer__bottom .privacy {
      text-align: center; } }

.footer__bottom .developed {
  margin-left: auto; }
  @media screen and (max-width: 1023.33px) {
    .footer__bottom .developed {
      margin-top: 5px;
      text-align: center; } }
  @media screen and (max-width: 767.66px) {
    .footer__bottom .developed {
      text-align: center;
      margin-left: 0;
      margin-top: 25 px; } }

.footer__bottom-grid {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 767.66px) {
    .footer__bottom-grid {
      flex-direction: column;
      justify-content: center;
      row-gap: 20px; } }

.footer__logo .logo__name-company {
  display: block; }

.social {
  margin: 0;
  margin-top: 53px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 1023.33px) {
    .social {
      margin: 0; } }
  @media screen and (max-width: 767.66px) {
    .social {
      margin-top: 31px; } }

.social__item {
  margin-right: 16px; }
  @media screen and (max-width: 1023.33px) {
    .social__item:last-child {
      margin-right: 0; } }

.social__link {
  display: block;
  width: 27px;
  height: 27px; }
  .social__link:hover {
    opacity: 0.5; }
  .social__link:active {
    opacity: 0.9; }

.contact {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 1023.33px) {
    .contact {
      margin-right: 0; } }

.contact__mail,
.contact__phone,
.contact__button {
  color: #ffffff;
  text-decoration: none; }

.contact__mail,
.contact__phone {
  position: relative;
  line-height: 18px; }
  .contact__mail:hover,
  .contact__phone:hover {
    color: #0ad9c6; }
  .contact__mail:active,
  .contact__phone:active {
    opacity: 0.5; }

@media screen and (max-width: 1023.33px) {
  .contact__mail span,
  .contact__phone span {
    display: none; } }

.contact__mail svg,
.contact__phone svg {
  color: #00b2ff; }

.contact__mail:hover svg,
.contact__phone:hover svg {
  color: #0ad9c6; }

.contact__icon {
  position: absolute;
  left: 0; }
  @media screen and (max-width: 1023.33px) {
    .contact__icon {
      position: relative; } }

.contact__mail {
  padding-left: 39px; }

@media screen and (max-width: 1023.33px) {
  .contact__mail svg {
    width: 25px;
    height: 19px; } }

.contact__phone {
  margin-left: 88px;
  padding-left: 34px; }
  @media screen and (max-width: 1023.33px) {
    .contact__phone {
      padding-left: 0;
      margin-left: 33px; } }
  @media screen and (max-width: 767.66px) {
    .contact__phone {
      margin-left: 23px; } }

@media screen and (max-width: 1023.33px) {
  .contact__phone svg {
    width: 24px;
    height: 24px; } }

.questions {
  padding: 90px 0 112px 0;
  background-color: #00b2ff;
  background-image: url("../img/background/plane.png"), url("../img/background/triangle.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 511px 288px, auto;
  background-position-x: 25%, 14%;
  background-position-y: 160px, -60px; }
  @media screen and (max-width: 1440px) {
    .questions {
      background-position-x: -10px, 0; } }
  @media screen and (max-width: 1200px) {
    .questions {
      background-position-x: -200px, 0; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .questions {
      background-image: url("../img/background/plane@2x.png"), url("../img/background/triangle.svg"); } }
  @media screen and (max-width: 1023.33px) {
    .questions {
      min-height: 0;
      padding: 78px 0 105px 0;
      background-image: none; } }
  @media screen and (max-width: 767.66px) {
    .questions {
      padding: 33px 0 35px 0; } }

.questions__grid {
  max-width: 570px;
  margin: 0 125px 0 auto; }
  @media screen and (max-width: 1023.33px) {
    .questions__grid {
      margin: 0 auto;
      max-width: 590px; } }
  @media screen and (max-width: 767.66px) {
    .questions__grid {
      margin: 0;
      max-width: 100%; } }

.questions__form-grid {
  margin-top: 50px;
  padding-left: 5px;
  display: grid;
  grid-template-columns: 270px 270px;
  grid-template-rows: 50px 155px -webkit-min-content;
  grid-template-rows: 50px 155px min-content;
  row-gap: 40px;
  -moz-column-gap: 30px;
       column-gap: 30px; }
  @media screen and (max-width: 1023.33px) {
    .questions__form-grid {
      margin-top: 55px;
      padding-left: 0;
      grid-template-columns: 280px 280px;
      -moz-column-gap: 32px;
           column-gap: 32px;
      row-gap: 42px; } }
  @media screen and (max-width: 767.66px) {
    .questions__form-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 51px 51px 104px 47px 41px;
      margin-top: 27px;
      row-gap: 30px; } }

.questions__grid h2 {
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  letter-spacing: 0.2px; }
  @media screen and (max-width: 1023.33px) {
    .questions__grid h2 {
      font-size: 32px; } }
  @media screen and (max-width: 767.66px) {
    .questions__grid h2 {
      font-size: 28px; } }
  @media screen and (max-width: 767.66px) {
    .questions__grid h2 {
      font-size: 28px;
      line-height: 140.62%; } }

.questions__grid p {
  margin: 0;
  margin-top: 10px;
  padding-left: 5px;
  color: #ffffff; }
  @media screen and (max-width: 1023.33px) {
    .questions__grid p {
      padding-left: 2px; } }

.questions input,
.questions textarea {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 17px;
  border: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  resize: none; }
  .questions input::-moz-placeholder, .questions textarea::-moz-placeholder {
    font-size: 16px;
    line-height: 50px;
    color: #ffffff;
    font-family: "ptmono-regular", "Arial", sans-serif;
    opacity: 1;
    overflow: visible; }
  .questions input::placeholder,
  .questions textarea::placeholder {
    font-size: 16px;
    line-height: 50px;
    color: #ffffff;
    font-family: "ptmono-regular", "Arial", sans-serif;
    opacity: 1;
    overflow: visible; }
  .questions input:hover,
  .questions textarea:hover {
    background-color: rgba(255, 255, 255, 0.3); }

.questions .textarea {
  grid-column-start: 1;
  grid-column-end: 3; }
  @media screen and (max-width: 767.66px) {
    .questions .textarea {
      grid-column-start: 1;
      grid-column-end: 2;
      height: 104px; } }

.questions textarea {
  width: 100%;
  height: 155px; }
  @media screen and (max-width: 1023.33px) {
    .questions textarea {
      height: 160px; } }
  @media screen and (max-width: 767.66px) {
    .questions textarea {
      height: 104px; } }

.questions input[type="text"] {
  width: 270px; }
  @media screen and (max-width: 1023.33px) {
    .questions input[type="text"] {
      width: 100%; } }

.questions input[type="tel"] {
  width: 270px; }
  @media screen and (max-width: 1023.33px) {
    .questions input[type="tel"] {
      width: 100%; } }

.questions__check {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  padding-left: 40px;
  margin-top: 11px;
  order: 2; }
  .questions__check:hover {
    opacity: 0.5; }
  .questions__check:active {
    color: #0ad9c6;
    opacity: 0.8; }
  @media screen and (max-width: 1023.33px) {
    .questions__check {
      margin-top: 18px; } }
  @media screen and (max-width: 767.66px) {
    .questions__check {
      margin-top: 2px;
      padding-left: 35px; } }

.questions input[type="checkbox"] {
  bottom: 0;
  right: 0; }

.questions input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-image: none; }

.questions input[type="checkbox"]:checked + label::before {
  background-image: url("../img/icon/check.svg");
  background-repeat: no-repeat;
  background-position: center; }

.questions input[type="checkbox"]:focus + label {
  outline: 1px dashed #ffffff;
  outline-offset: 2px; }

.about {
  position: relative;
  margin-top: 104px;
  padding-bottom: 110px; }
  @media screen and (max-width: 1023.33px) {
    .about {
      margin-top: 53px;
      padding-bottom: 82px; } }
  @media screen and (max-width: 767.66px) {
    .about {
      margin-top: 40px;
      padding-bottom: 65px; } }

@media screen and (max-width: 1023.33px) {
  .about .visible-desktop {
    display: none; } }

.about .visible-tablet {
  display: none; }
  @media screen and (max-width: 1023.33px) {
    .about .visible-tablet {
      display: inline; } }

.about h2 {
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
  margin-bottom: 22px; }
  @media screen and (max-width: 1023.33px) {
    .about h2 {
      font-size: 32px; } }
  @media screen and (max-width: 767.66px) {
    .about h2 {
      font-size: 28px; } }
  @media screen and (max-width: 1023.33px) {
    .about h2 {
      margin-bottom: 26px; } }
  @media screen and (max-width: 767.66px) {
    .about h2 {
      margin-bottom: 18px; } }

.about p {
  color: #666666;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-right: 5px; }
  @media screen and (max-width: 1023.33px) {
    .about p {
      margin-bottom: 19px;
      padding-left: 2px;
      overflow: hidden; } }
  .about p:last-of-type {
    text-overflow: ellipsis;
    min-width: 532px;
    padding-right: 0;
    overflow: hidden;
    /* stylelint-disable */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* stylelint-enable */
    padding-right: 5px; }
  @media screen and (max-width: 767.66px) {
    .about p {
      padding: 0; }
      .about p:last-of-type {
        min-width: 100%;
        margin-top: 40px;
        -webkit-line-clamp: 8;
        padding-right: 0; } }

.about__grid {
  display: flex;
  padding-right: 119px; }

.about__wrap {
  margin-left: 300px;
  max-width: 984px; }
  @media screen and (max-width: 1023.33px) {
    .about__wrap {
      margin-left: 185px; } }
  @media screen and (max-width: 767.66px) {
    .about__wrap {
      margin-left: 0; } }

.about__year {
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 35px;
  left: 40px;
  display: inline-block;
  vertical-align: middle;
  font-size: 156.248px;
  line-height: 260px;
  background: url("../img/background/about.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #00b2ff;
  text-align: center;
  /* -webkit-background-clip обрезает фон элемента по контуру текста */
  -webkit-text-fill-color: transparent;
  /* переопределяет цвет текста с белого на прозрачный в браузерах на webkit */
  -webkit-background-clip: text;
          background-clip: text;
  transform: rotate(-90deg); }
  @media screen and (max-width: 1023.33px) {
    .about__year {
      top: 55px;
      left: -85px;
      font-size: 178.324px;
      line-height: 251px; } }
  @media screen and (max-width: 767.66px) {
    .about__year {
      display: none; } }

.modal {
  position: fixed;
  z-index: 100;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 490px;
  padding: 33px 39px 36px 39px;
  background-color: #00b2ff; }

@-webkit-keyframes modalShow-x {
  0% {
    transform: translate(-1200px, -50%); }
  70% {
    transform: translate(100px, -50%); }
  100% {
    transform: translate(0, -50%); } }

@keyframes modalShow-x {
  0% {
    transform: translate(-1200px, -50%); }
  70% {
    transform: translate(100px, -50%); }
  100% {
    transform: translate(0, -50%); } }

.modal-show-x {
  -webkit-animation-name: modalShow-x;
          animation-name: modalShow-x;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; }

.modal h2 {
  font-family: "robotocondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  font-size: 28px;
  line-height: 140.62%;
  color: #ffffff; }
  @media screen and (max-width: 1023.33px) {
    .modal h2 {
      font-size: 32px; } }
  @media screen and (max-width: 767.66px) {
    .modal h2 {
      font-size: 28px; } }

.modal p {
  color: #ffffff;
  width: 90%; }

.modal label {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  padding-left: 40px; }

.modal input,
.modal textarea {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 0 0 24px;
  margin-bottom: 30px;
  border: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1); }
  .modal input::-moz-placeholder, .modal textarea::-moz-placeholder {
    font-size: 16px;
    line-height: 50px;
    color: #ffffff;
    font-family: "ptmono-regular", "Arial", sans-serif;
    opacity: 1;
    overflow: visible; }
  .modal input::placeholder,
  .modal textarea::placeholder {
    font-size: 16px;
    line-height: 50px;
    color: #ffffff;
    font-family: "ptmono-regular", "Arial", sans-serif;
    opacity: 1;
    overflow: visible; }
  .modal input:hover,
  .modal textarea:hover {
    background-color: rgba(255, 255, 255, 0.3); }

.modal input {
  height: 50px;
  line-height: 50px; }

.modal textarea {
  overflow: auto;
  resize: none;
  height: 104px; }
  .modal textarea::-moz-placeholder {
    padding-top: 10px;
    line-height: 22px; }
  .modal textarea::placeholder {
    padding-top: 10px;
    line-height: 22px; }

.modal button {
  display: block;
  margin-bottom: 34px; }

.modal__check {
  position: relative;
  cursor: pointer;
  order: 2; }
  .modal__check:hover {
    opacity: 0.5; }
  .modal__check:active {
    color: #0ad9c6;
    opacity: 0.8; }

.modal input[type="checkbox"] {
  bottom: 0;
  right: 0; }

.modal input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  background-image: none; }

.modal input[type="checkbox"]:checked + label::before {
  background-image: url("../img/icon/check.svg");
  background-repeat: no-repeat;
  background-position: center; }

.modal input[type="checkbox"]:focus + label {
  outline: 1px dashed #ffffff;
  outline-offset: 2px; }

.modal form {
  display: flex;
  flex-direction: column; }

.bg-overlay {
  position: fixed;
  overflow: hidden;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 767.66px) {
  .accordion__item ul {
    display: none; } }

.panel-active ~ ul {
  display: block; }

.panel-active::before {
  display: none; }

.panel-active + .contact-footer__list {
  padding-bottom: 28px; }

.panel-active ~ .navigation__list:last-of-type {
  padding-bottom: 28px; }
